<html>

<head>
    <script src="https://kit.fontawesome.com/44ebb0f0f4.js" crossorigin="anonymous"></script>
    <style>
        body {
            background-color: black;
            padding: 0;
            margin: 0;
        }
        #calender {
            background-color: hsl(0, 0%, 10%);
            
            width: 90%;
            background-color: white;
            margin-left: 5%;
            margin-right: 5%;
            margin-top: 4%;
            height: 90%;
        }

        #calender-list {
            padding: 0;
            display: flex;
            flex-direction: row;
            flex-wrap: wrap;
            width: 100%;
            /* left: 20%; */
            position: relative;
            /* justify-content: center; */
        }

        .day-element{

            width: 14%;
            height: 200px;
            
            background-color: rgb(255, 255, 255);
            flex-grow: 1;
            border: 1px solid black;
            overflow-y: auto;
        }
        .event {
            font-family: 'Franklin Gothic Medium', 'Arial Narrow', Arial, sans-serif;
            font-size: 1.2vw;
            width: 80%;
            left: 10%;
            right: 10%;
            height: 3vh;
            position: relative;
            background-color: rgb(242,146,157);
            margin-top: 10px;
        }
        .event:hover {
            cursor: pointer;
        }
        #background {
            width: 100%;
            height: 100%;
            background-color: rgba(0, 0, 0, 0.9);
            position: absolute;
            z-index: 10;
        }
    </style>
</head>

<body>
    
    <div id="calender">
        <ul id="calender-list">
            <% for (let index = 0; index < days.length; index++) { %>
                <div class="day-element" id="<%-index%>">
                    <div class="day-number"><%= days[index]["day"] %></div>
                    <div>
                        <% days[index]["events"].forEach(function(event){ %>
                            <div id="<%=event["id"]%>" class="event"><%= user["name"] %> <span>
                                <%= event["data"]["start-time"]%> - <%=event["data"]["end-time"]%>
                            </span></div>
                        <% }); %>
                    </div>
                </div>
                
            <% } %>
        </ul>
    </div>
</body>

</html>